.content-poke {
  position: relative;
  height: 540px;
  transform-style: preserve-3d;

  .card {
    position: absolute;
    width: 98%;
    height: 98%;
    transition: all 0.75s ease;
    transform-style: preserve-3d;
    left: 0;
    top: 0;

    &.card.active {
      transform: rotateY(180deg);
    }

    .back {
      transform: rotateY(180deg);
      background-color: #fff;
    }

    .front {
      &.fighting {
        background-color: #ef63391c !important;
      }
      &.flying {
        background-color: #94b2c723 !important;
      }
      &.normal {
        background-color: #ca98a621 !important;
      }
      &.poison {
        background-color: #9c6dda28 !important;
      }
      &.ground {
        background-color: #6e491f2f !important;
      }
      &.rock {
        background-color: #8b3e2227 !important;
      }
      &.bug {
        background-color: #41995028 !important;
      }
      &.ghost {
        background-color: #90679121 !important;
      }
      &.steel {
        background-color: #46bd9328 !important;
      }
      &.fire {
        background-color: #f7495b23 !important;
      }
      &.water {
        background-color: #85a8fb33 !important;
      }
      &.grass {
        background-color: #5bcc512c !important;
      }
      &.electric {
        background-color: #f7ec722a !important;
        color: #000 !important;
      }
      &.psychic {
        background-color: #f558922a !important;
      }
      &.ice {
        background-color: #d8f0fa23 !important;
        color: #000 !important;
      }
      &.dragon {
        background-color: #62c9d921 !important;
      }
      &.dark {
        background-color: #59597825 !important;
      }
      &.fairy {
        background-color: #eb486911 !important;
      }
      &.unknown {
      }
      &.shadow {
      }
    }

    .front,
    .back {
      backface-visibility: hidden;

      position: absolute;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

.poke {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  min-height: 310px;
  text-align: center;
  transition: all linear 0.2s;
  background-color: #f2f2f2;

  .card-header {
    width: 100%;
  }

  .card-body {
    padding: 10px 20px;
    min-height: 65px;
    width: 100%;
  }

  .badge {
    &.fighting {
      background-color: #ef6239 !important;
    }
    &.flying {
      background-color: #94b2c7 !important;
    }
    &.normal {
      background-color: #ca98a6 !important;
    }
    &.poison {
      background-color: #9c6dda !important;
    }
    &.ground {
      background-color: #6e491f !important;
    }
    &.rock {
      background-color: #8b3e22 !important;
    }
    &.bug {
      background-color: #419950 !important;
    }
    &.ghost {
      background-color: #906791 !important;
    }
    &.steel {
      background-color: #46bd94 !important;
    }
    &.fire {
      background-color: #f74959 !important;
    }
    &.water {
      background-color: #85a8fb !important;
    }
    &.grass {
      background-color: #5ccc51 !important;
    }
    &.electric {
      background-color: #f7eb72 !important;
      color: #000 !important;
    }
    &.psychic {
      background-color: #f55892 !important;
    }
    &.ice {
      background-color: #d8f0fa !important;
      color: #000 !important;
    }
    &.dragon {
      background-color: #62cad9 !important;
    }
    &.dark {
      background-color: #595978 !important;
    }
    &.fairy {
      background-color: #eb4869 !important;
    }
    &.unknown {
    }
    &.shadow {
    }
  }

  img {
    object-fit: cover;
    width: 90%;
    padding: 10px;
  }

  p {
    margin-top: 0;
    text-align: center;
  }
}
