@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  padding: 30px;
  align-items: center;
  justify-content: center;
  width: 640px;
  margin-bottom: 40px;
  padding-left: 10px;
  margin: 25px auto 0;
  background-color: rgba(146, 51, 234, 0.486);
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
