.pokeList {
  align-items: center;
  text-align: center;
}

.paginacao {
  display: flex;
  clear: both;
  width: 100%;

  justify-content: center;
  margin: 20px 0;

  ul {
    display: flex;
    list-style-type: none;
    li {
      cursor: pointer;
      color: #fff;
      margin: 0 20px;
    }
  }
}
